body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
  }
  body {
  font-family: Arial, sans-serif;
  margin: 0;
  }
  
  /* Estilos para la sección principal */
  .mainSection {
    background-color: rgb(158, 216, 187);
    width: 90%;
    margin: 2.5% auto;
    padding: 2%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .mainSection__logo {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  
  .mainSection__playSection {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 65%;
    min-height: 150px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 2%;
  }
  .mainSection__instructionsSection {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 65%;
    min-height: 150px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 2%;
    float: right;
  }
  
  .playSection_playButton {
    background-color: #f39c12;
    color: #fff;
    text-decoration: none;
    padding: 3% 5%;
    border-radius: 4px;
    font-size: 1.2rem;
    transition: background-color 0.2s;
  }
  
  .playSection_playButton:hover {
    background-color: #e67e22;
  }
  
  /* Estilos para el pie de página */
  footer {
    background-color: #ccc;
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 2%;
    border-radius: 10px;
  }